<!DOCTYPE html>
<html>
     <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/them.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/index1.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/header1.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/help-query1.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/doctor1.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <nav>
            <a href="index.html"><img id="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"></a>
             <ul class="nav-menu">
                <li><a href="doctor.html">Doctors</a></li>
                <li><a href="hospital.html">Hospitals</a></li>
                <li><a href="treatment.html">Treatments</a></li>
                <li><a href="#">Other Services</a></li>
                <li><a href="about-us.html">About</a></li>
            </ul>
            <div class="nav-btn">
                <a href="login.html">
                    <button class="login-btn">Login / Signup</button>
                </a>
                <a href="get.html">
                    <button class="getQuote-btn">Get a Quote</button>
                </a>
            </div>
            <a href="#" id="icon1"><i class="fas fa-bars" style="font-size:20px; float:right;"></i><a>  
        </nav>
    </header>

    <div class="banner">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png">
         <div class="banner_tag">Cardiac Surgeon in <span style="text-decoration: underline; font-family: Nexa-bold;">Delhi</span></div>
    </div>
    <section class="doc-header">
        <h2>Home / Doctor List</h2>
        <button name="sort-doc" id="sort-by">Sort by <i class="fas fa-angle-down"></i>
    </section>
    <section class="doc-functionality">
        <div class="filter-container">

            <div class="filter-container-heading">
                <h6>Filter By</h6>
            </div>
            
            <div class="fil-parameter">
                <div id="parameter1">DLF Cyber City</div>
                <div id="parameter2">Multi Organ Transplant</div>
                <div id="parameter3">Apolo Hospital</div>
                <div id="parameter4">30+</div>
            </div>
    
            <!-- Location -->
            <div class="location-filter">
                <div class="location-heading">
                    <h4>Location</h4>
                   <div id=filter-icon> <i id=icon01 class="fas fa-search"></i>
                    <i id=icon02 class="fas fa-minus"></i></div>
                </div>
                <div class="filter-content location-content lf1">
                    <input type="checkbox" name="DLF-Cyber-City" value="DLF Cyber City">
                    <label for="DLF-Cyber-City">DLF Cyber City</label>
                </div>
                <div class="filter-content location-content lf2">
                    <input type="checkbox" name="Dwarka" value="Dwarka">
                    <label for="Dwarka">Dwarka</label>
                </div>
                <div class="filter-content location-content lf3">
                    <input type="checkbox" name="Lajpat-Nagar" value="Lajpat Nagar">
                    <label for="Lajpat-Nagar">Lajpat Nagar</label>
                </div>
                <div class="filter-content location-content lf4">
                    <input type="checkbox" name="Palam-Vihar" value="Palam Vihar">
                    <label for="Palam-Vihar">Palam Vihar</label>
                </div>
                <div class="filter-content location-content lf5">
                    <input type="checkbox" name="Punjabi-Bagh" value="Punjabi Bagh">
                    <label for="Punjabi-Bagh">Punjabi Bagh</label>
                </div>
                <div class="filter-content location-content lf6">
                    <input type="checkbox" name="Pusa-Road" value="Pusa Road">
                    <label for="Pusa-Road">Pusa Road</label>
                </div>
                <div class="show-more">
                    <span>+ Show More</span>
                </div>
            </div>

            <!-- Treatment -->
            <div class="treatment-filter">
                <div class="treatment-heading">
                    <h4>Treatment</h4>
                    <div id="filter-icon"><i id=icon01 class="fas fa-search"></i>
                    <i id=icon02 class="fas fa-minus"></i></div>

                </div>
                <div class="filter-content treatment-content tf1">
                    <input type="checkbox" id="Multi-Organ-Transplant" name="Multi-Organ-Transplant" value="Multi Organ Transplant">
                    <label for="Multi-Organ-Transplant">Multi Organ Transplant</label>
                </div>
                <div class="filter-content treatment-content tf2">
                    <input type="checkbox" id="Orthopedic-Surgery" name="Orthopedic-Surgery" value="Orthopedic Surgery">
                    <label for="Orthopedic-Surgery">Orthopedic Surgery</label>
                </div>
                <div class="filter-content treatment-content tf3">
                    <input type="checkbox" id="Infertility-Treatment" name="Infertility-Treatment" value="Infertility Treatment">
                    <label for="Infertility-Treatment">Infertility Treatment</label>
                </div>
                <div class="filter-content treatment-content tf4">
                    <input type="checkbox" id="Dentistry" name="Dentistry" value="Dentistry">
                    <label for="Dentistry">Dentistry</label>
                </div>
                <div class="filter-content treatment-content tf5">
                    <input type="checkbox" id="Cardiology" name="Cardiology" value="Cardiology">
                    <label for="Cardiology">Cardiology</label>
                </div>
                <div class="filter-content treatment-content tf6">
                    <input type="checkbox" id="Cancer" name="Cancer" value="Cancer">
                    <label for="Cancer">Cancer</label>
                </div>
                <div class="show-more">
                    <span>+ Show More</span>
                </div>
            </div>

            <!-- Hospital -->
            <div class="hospital-filter ">
                <div class="hospital-heading">
                    <h4>Hospitals</h4>
                    <div id="filter-icon"><i id=icon01 class="fas fa-search"></i>
                    <i id=icon02 class="fas fa-minus"></i></div>

                </div>
                <div class="filter-content hospital-content hf1">
                    <input type="checkbox" name="Apollo-Hospital" value="Apollo Hospital">
                    <label for="Apollo-Hospital">Apollo Hospital</label>
                </div>
                <div class="filter-content hospital-content hf2">
                    <input type="checkbox" name="Manipal-North-Side-Hospital" value="Manipal North Side Hospital">
                    <label for="Manipal-North-Side-Hospital">Manipal North Side Hospital</label>
                </div>
                <div class="filter-content hospital-content hf3">
                    <input type="checkbox" name="Northstar" value="Northstar">
                    <label for="Northstar">Northstar</label>
                </div>
                <div class="filter-content hospital-content hf4">
                    <input type="checkbox" name="AIIMS" value="AIIMS">
                    <label for="AIIMS">AIIMS</label>
                </div>
                <div class="filter-content hospital-content hf5">
                    <input type="checkbox" name="Fortis-Hospital" value="Fortis Hospital">
                    <label for="Fortis-Hospital">Fortis Hospital</label>
                </div>
                <div class="filter-content hospital-content hf6">
                    <input type="checkbox" name="Elbit-Diagnostics" value="Elbit Diagnostics">
                    <label for="Elbit-Diagnostics">Elbit Diagnostics</label>
                </div>
                <div class="show-more">
                    <span>+ Show More</span>
                </div>
            </div>

            <!-- Years of Exp -->
            <div class="yearsOfExp-filter">
                <div class="yearsOfExp-heading">
                    <h4>Years of Experience</h4>
                    <div id="filter-icon"><i id=icon01 class="fas fa-search"></i>
                    <i id=icon02 class="fas fa-minus"></i></div>

                </div>
                <div class="filter-content years-content yf1">
                    <input type="checkbox" name="30+" value="30+">
                    <label for="30+">30+</label>
                </div>
                <div class="filter-content years-content yf2">
                    <input type="checkbox" name="25+" value="25+">
                    <label for="25+">25+</label>
                </div>
                <div class="filter-content years-content yf3">
                    <input type="checkbox" name="20+" value="20+">
                    <label for="20+">20+</label>
                </div>
                <div class="filter-content years-content yf4">
                    <input type="checkbox" name="15+" value="15+">
                    <label for="15+">15+</label>
                </div>
                <div class="filter-content years-content yf5">
                    <input type="checkbox" name="10+" value="10+">
                    <label for="10+">10+</label>
                </div>
                <div class="filter-content years-content yf6">
                    <input type="checkbox" name="5+" value="5+">
                    <label for="5+">5+</label>
                </div>
                <div class="show-more">
                    <span>+ Show More</span>
                </div>
            </div>
        </div>


        <section class="doctors_card">
                <div class="doctor">
                <div class="name">
                    <h3>Duke Sanson</h3>
                    </div>
                    <div class="doc_info">
                <ul>
                    <li>Neuro Surgon</li>
                    <li>Holy Angles Hospital</li>
                    <li>Chain Department of Nurological</li>
                    <li>Delhi</li>
                    <li>12 Years</li>
                </ul>
                </div>
                <div  class="appointment"><button>Book an Appointment</button></div>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
                </div>
            <div class="doctor">
                <div class="name">
                <h3>Georgea Peter</h3>
                </div>
                <div class="doc_info">
                <ul>
                    <li>Brest Canser Surgeon</li>
                    <li>Indraprastha Apollo Hospital</li>
                    <li>MBBS. MD. HOD Cancer</li>
                    <li>Delhi NCR</li>
                    <li>21 Years</li>
                </ul>
            </div>
            <div  class="appointment"><button>Book an Appointment</button></div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
           </div>
            <div class="doctor">
                <div class="name">
                <h3>Charlie Moon</h3>
                </div>
            <div class="doc_info">
                <ul>    
                    <li>Cardic Surgeon</li>
                    <li>Columbia Asia</li>
                    <li>MBBS. MD. FRCP. MRCP. Felloship</li>
                    <li>New Delhi. India</li>
                    <li>16 Years</li>
              </ul>
            </div>
            <div  class="appointment"><button>Book an Appointment</button></div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
            </div>
            <div class="doctor">
                <div class="name">
                <h3>Rose Moon</h3>
                </div>
                <div class="doc_info">
                <ul>
                    <li>Plastic Surgeon</li>
                    <li>AIMS</li>
                    <li>Department of Plastic and Reconstructive Surgery</li>
                    <li>New Delhi</li>
                    <li>9 Years</li>
                </ul>
            </div>
            <div  class="appointment"><button>Book an Appointment</button></div>

            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
            </div>
            <div class="doctor">
                <div class="name">
                <h3>Rose Moon</h3>
                </div>
                <div class="doc_info">
                <ul>
                    <li>Plastic Surgeon</li>
                    <li>Department of Plastic and Reconstructive Surgery</li>
                    <li>9 Years</li>
                    <li>AIMS</li>
                    <li>New Delhi</li>
                </ul>
            </div>
            <div  class="appointment"><button>Book an Appointment</button></div>

            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg">
            </div>
        </section>
    </section>
            <section class="help">
                <div class="help_info">
                <h1>Need Help?</h1>
                <p>Just let us know. We will happy to assist you</p></div>
                <button id="submit">Submit your enquiry</button>
            </section>
            <footer>
                <img src="../assets/images/footer.png">
                <div class="more_info">
                    <ul>
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Services</li>
                <li>FAQs</li>
                    </ul>
                </div>
                <div class="socialmedia">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-pinterest-p"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-instagram"></i>
                </div>
                <div id="copyright">All Rights Reserved.<span><i class="fa fa-copyright" aria-hidden="true"></i>
                </span>tvastra 2018</div>
            </footer>
    </body>
    </html>