<!DOCTYPE html>
<html>
     <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/them.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/index1.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/header1.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <nav>
            <a href="index.html"><img id="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"></a>
             <ul class="nav-menu">
                <li><a href="doctor.html">Doctors</a></li>
                <li><a href="hospital.html">Hospitals</a></li>
                <li><a href="treatment.html">Treatments</a></li>
                <li><a href="#">Other Services</a></li>
                <li><a href="about-us.html">About</a></li>
            </ul>
            <div class="nav-btn">
                <a href="login.html">
                    <button class="login-btn">Login / Signup</button>
                </a>
                <a href="get.html">
                    <button class="getQuote-btn">Get a Quote</button>
                </a>
            </div>
            <a href="#" id="icon1"><i class="fas fa-bars" style="font-size:20px; float:right;"></i><a>  
        </nav>
    </header>
            <section class="location_search">
           <h1>Find Affordable Healthcare</h1>
           <p>Join the thousands of others who have exercised their right to quality healthcare at a price you can afford.</p>
    
        <form>
        <div class="location">  
        <i id ="map" class="fa fa-map-marker" aria-hidden="true"></i>
        <input type="text" name="location" id="location" placeholder="Ahemdabad">
        <i id="crosshairs" class="fa fa-crosshairs" aria-hidden="true"></i>
        </div>
        <input type="text" name="search" id="search" placeholder="Search for Doctor,hospitals and treatments">
        <button id="search_btn">Search</button>
        </form>
    </section>
        <section class="how_it_works">
            <h1>How it works</h1>
            <p>Various facilities are provided here. But there is a protocol which needs to be followed so that you get the service at its best. </p>
            <div class="steps">
                <button class="step1"><span>01</span>Fix Consultation</button>
                <div id="step1_pic"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png">
                <h2>Fix Consultation</h2>
                <p>This depites that the user will have to fix appointment first when it selects a particular doctor</p></div>
                <button class="step2"><span>02</span>    Upload Madical Reports</button>
                <button class="step3"><span>03</span>    Consult with doctor</button>
                <button class="step4"><span>04</span>    Fix Surgery</button>
                <button class="step5"><span>05</span>    Hospital Sents estimates</button>
                <button class="step6"><span>06</span>    Payments</button>
                <button class="step7"><span>07</span>    Surgery Completed</button>
                </div>
        </section> 
            <section class="doctors">
                <h1>World Class Expert Doctors!</h1>
                <p>The university of Texas Southeastern Medical center has been a long world-renowned research hospital.
                But until the 80's, you could't go there. Now with the addition of Aston Center and Zale Lipshy Hospital,
                UT Southeastern is also a mecca for patients</p>
                <div class="doctors_card">
                <div class="doctor"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg">
                    <div class="name">
                    <h3>Duke Sanson</h3>
                    </div>
                    <div class="doc_info">
                <ul>
                    <li>Neuro Surgon</li>
                    <li>Chain Department of Nurological</li>
                    <li>Surgery</li>
                    <li>Austrilia</li>
                </ul>
                </div></div>
                <div class="doctor"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg">
                    <div class="name">
                    <h3>Georgea Peter</h3>
                    </div>
                    <div class="doc_info">
                    <ul>
                        <li>Brest Canser Surgeon</li>
                        <li>Director. UT. Southeastern</li>
                        <li>London</li>
                    </ul>
                </div></div>
                <div class="doctor"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                    <div class="name">
                    <h3>Charlie Moon</h3>
                    </div>
                <div class="doc_info">
                    <ul>    
                        <li>Cardic Surgeon</li>
                        <li>MBBS. MD. FRCP. MRCP. Felloship</li>
                        <li>New Delhi. India</li>
                  </ul>
                </div></div>
                <div class="doctor"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg">
                    <div class="name">
                    <h3>Rose Moon</h3>
                    </div>
                    <div class="doc_info">
                    <ul>
                        <li>Plastic Surgeon</li>
                        <li>Department of Plastic and Reconstructive Surgery</li>
                        <li>Dubai</li>
                    </ul>
                </div></div></div>   
            </section>
           <section class="feature">
                <h1>Featured Medical Treatment</h1>
                <p>Join the thousands of others who have exercised their right to qulity healthcare at aprice you can affered</p>
                <div class="treatments">
                <div class="container">
                    <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg">
                    <div class="text-block">
                        <h5>Dentistry</h5>
                        <span>50+ Specialists</span>
                    </div>
                </div>
                <div class="container">
                    <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg">
                    <div class="text-block">
                        <h5>Cancer</h5>
                        <span>50+ Specialists</span>
                    </div>
                </div>
                <div class="container">
                    <img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg">
                    <div class="text-block">
                        <h5>Cardiologic Treatment</h5>
                        <span>50+ Specialists</span>
                        </div>
                </div>
                <div class="container"><img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg">
                     <div class="text-block">
                        <h5>Multi Organ Transplant</h5>
                        <span>50+ Specialists</span>
                    </div>
                </div>
                <div class="container"><img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg">
                    <div class="text-block">
                        <h5>Orthopadics Surgery</h5>
                        <span>50+ Specialists</span>
                    </div>
                </div>
                <div class="container"><img  src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg">
                    <div class="text-block">
                        <h5>Infertility Treatment</h5>
                        <span>50+ Specialists</span>
                    </div>
                </div>
                </div>
            </section> 
    

            <section class="services">
                <h1>Exclusive Services</h1>
                <p>We want you to be comfortable and thus apart from threating you illness. We provide you eith other services
                    that you can see.
                </p>
                <div class="service_card">
                    <div class="service"><img src="../assets/images/Icons-01.png">
                        <h5>TRAVEL</h5>
                        </div>
                    <div class="service"><img src="../assets/images/Icons-02.png">
                        <h5>FOOD</h5>
                        </div>
                    <div class="service"><img src="../assets/images/Icons-03.png">
                        <h5>ACCOMODATION</h5>
                        </div>
                    <div class="service"><img src="../assets/images/Icons-07.png">
                        <h5>LABS</h5>
                        </div>
                    <div class="service"><img src="../assets/images/Icons-10.png">
                        <h5>REPORTS</h5>
                        </div>
                    <div class="service"><img src="../assets/images/Icons-06.png">
                        <h5>AMBULANCE</h5>
                        </div>
                </div>
            </section>
            <section class="help">
                <div class="help_info">
                <h1>Need Help?</h1>
                <p>Just let us know. We will happy to assist you</p></div>
                <button id="submit">Submit your enquiry</button> 
            </section>
            <footer>
                <img src="../assets/images/footer.png">
                <div class="more_info">
                    <ul>
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other Services</li>
                <li>FAQs</li>
                    </ul>
                </div>
                <div class="socialmedia">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-pinterest-p"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-instagram"></i>
                </div>
                <div id="copyright">All Rights Reserved.<span><i class="fa fa-copyright" aria-hidden="true"></i>
                </span>tvastra 2018</div>
            </footer>
    </body>
</html>